body {
      background: #111;
      color: #fff;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 40px;
      display: flex;
      flex-direction: column;
      margin: 0;
    min-height: 100dvh;
}

h1 { font-size: 2.2em; }

p { opacity: 0.8; }

audio { width: 100%; max-width: 400px; margin-top: 20px; }

.header {
    color: white;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: bold !important;
    font-family: courier !important;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
.link-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.link-box input {
  width: 100%;
  color: black;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.link-box button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
  .instrukcje {
      border: 10px solid gray;
      border-radius: 15px;
      padding: 20px;
      text-align: center;
      background-color: #f9f9f9;
      margin-left: auto;
      margin-right: auto;
    }
