    .accordion {
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion:hover {
    background-color: #ddd;
  }

  .accordion.active {
    background-color: #ccc;
  }

  /* Strzałka po prawej stronie */
  .accordion::after {
    content: "▶"; /* unicode strzałki */
    font-size: 16px;
    transition: transform 0.3s;
  }

  /* Obrót strzałki po kliknięciu */
  .accordion.active::after {
    transform: rotate(90deg);
  }

  .panel {
    width: 100%;
    display: none;
    background-color: white;
    overflow: hidden;
    color: black;
  }

  .panel p {
    margin: 10px 0;
  }
    body {
      background: #111;
      color: #fff;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 40px;
      display: flex;
      flex-direction: column;
      margin: 0;
    min-height: 100dvh;
    }
    h1 { font-size: 2.2em; }
    p { opacity: 0.8; }
    audio { width: 100%; max-width: 400px; margin-top: 20px; }
    .header {
    color: white;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
    .header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-weight: bold !important;
    font-family: courier !important;
}
    .main {
    flex: 1; /* TO JEST KLUCZ */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
    .footer {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
.link-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.link-box input {
  flex: 1;
  padding: 5px 10px;
  font-size: 14px;
}

.link-box button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
